* {
    font-family: monospace;
    user-select: none;
}

p {
    font-size: 1.5em;
}

.cont1 {
    background-color: #fff;
    max-width: fit-content;
    margin: auto;
}

.center-txt {
    text-align: center;
}

.center-cont {
    max-width: fit-content;
    margin: auto;
}

.header {
    width: 100%;
    height: 50em;
    background-color: #f1f1f1;
}

.progress-container {
    width: 100%;
    height: 32px;
    background: #ccc;
    position: fixed;
    z-index: 3;
}

.progress-bar {
    height: 8px;
    background: #04AA6D;
    width: 0%;
}

body {
    background-image: url("../media/starsbg.gif");
    background-repeat: repeat;
    background-position: left top;
    background-attachment: fixed;
}

/*
Este fondo aaaaaaaaaa
https://codepen.io/sarazond/pen/LYGbwj
*/